body {
    margin: 0;
    padding: 0;
    min-width: 1200px;
    
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}
  
a {
    text-decoration: none;
}
  
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
  }

img {
    max-width: 100%;
    height: auto;
}

.main-navigation {
    font-size: 16px;
    line-height: 30px;
    list-style: none;
}

.basket-navigation {
    display: flex;
    max-width: 140px;
  }

.login-link::before {
    content: "";
    position: absolute;
    top: 38px;
    left: 0px;
    width: 16px;
    height: 18px;
    
    background-image: url("../img/svg-nerds/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.basket-navigation .login-link {
    position: relative;
    padding-left: 50px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket-navigation a:hover,
.basket-navigation a:focus {
    color: #fb565a;
}

.site-navigation a:active,
.basket-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation a,
.basket-navigation a {
    color: #000000;
    display: block;
    vertical-align: middle;
    padding: 30px 10px;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
}

.slider {
    position: relative;
    margin-bottom: 80px;
    background-color: #eeeeee;
  }
  
  .slider-controls {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;
    
    width: 160px;
    height: 18px;
  
    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
  }
  
  .slider-controls label {
    position: relative;
    
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;
    
    border-radius: 50%;
    cursor: pointer;
  }
  
  .slider-controls label::after {
    content: "";
    
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    
    width: 18px;
    height: 18px;
    
    background: #ffffff;
    
    border-radius: 50%;
  }
  
  .slider-list {
    margin: 0;
    padding: 0;
    
    list-style: none;
  }
  
  .slider-item {
    display: none;
    padding: 78px 0 85px 0;
  }
  
  .slider-item:nth-child(1) {
    background-image: url("../img/pictures/main-photo-1.png");
    background-repeat: no-repeat;
    background-position: 93% 18px;
  }
  
  .slider-item:nth-child(2) {
    background-image: url("../img/pictures/main-photo-2.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
  }
  
  .slider-item:nth-child(3) {
    background-image: url("../img/pictures/main-photo-3.png");
    background-repeat: no-repeat;
    background-position: 100% 20px;
  }
  
  #product-1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
  }
  
  #product-2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
  }
  
  #product-3:checked ~ .slider-list .slider-item:nth-child(3) {
    display: block;
  }
  
  #product-1:checked ~ .slider-controls .slider-controls-item--1::before,
  #product-2:checked ~ .slider-controls .slider-controls-item--2::before,
  #product-3:checked ~ .slider-controls .slider-controls-item--3::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -4px;
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
  }
  
  .slider-item h3 {
    max-width: 600px;
    margin: 0;
    margin-bottom: 27px;
    
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
  }
  
  .slider-item p {
    max-width: 430px;
    margin: 0;
    margin-bottom: 38px;
  }
  
  .button {
    display: block;
    width: 240px;
    padding: 13px 0;
    
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    
    background-color: #fb565a;
    border-radius: 3px;
    border: none;
  }
  
  .button:hover,
  .button:focus {
    background-color: #e74246;
  }
  
  .button:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  }
  

.side-products-list {
    list-style: none;
    position: relative;
}

.side-products-list h3 {
    color: #000000;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}

.side-products-list p {
    color: #283136;
    font-size: 16px;
    line-height: 24px;
}

.side-products-item-red .button {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    list-style: none;
    background-color: #fb565a;
    margin-bottom: 162px;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #e74246;
    color: #fb565a;
}

.side-products-item-green .button {
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    list-style: none;
    background-color: #00ca74;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #00bc6c;
}

.side-products-item-yellowe .button {
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    list-style: none;
    background-color: #f0fb56;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #eab534;
}

.side-products-item-yellowe:after {
    content: "";
    display: block;
    width: 1160px;
    height: 1px;
    background-color: black;
    opacity: 0.1;
    position: absolute;
    left: 0;
    margin-top: 30px;
    top: 80%;
}

.index-columns {
    list-style: none;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    background-color: #ffffff;
}

.orders {
    margin-bottom: 140px;
}

.index-columns h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.anons-charter h2 {
    text-align: left;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.par-abouts-list {
    list-style: none;
    padding: 0px;
}

.par-abouts-item {
    position: relative;
    padding-left: 40px;
}

li.par-abouts-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
}

.side-feature-item h3 {
    font-size: 45px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}

.feature-list {
    list-style: none;
    margin-bottom: 105px;
}

.partner-photo {
    opacity: 0.2;
    list-style: none;
    margin-bottom: 130px;
    position: relative;
}

.partner-photo-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.partner-photo:before {
    content: "";
    display: block;
    width: 1160px;
    height: 2px;
    background-color: black;
    opacity: 0.2;
    position: absolute;
    left: 0;
    margin-top: -46px;
}

.partner-photo:after {
    content: "";
    display: block;
    width: 1160px;
    height: 2px;
    background-color: black;
    opacity: 0.2;
    position: absolute;
    left: 0;
    margin-top: 44px;
}

.partner-photo-item:hover,
.partner-photo-item:focus {
    background-color: #000000;
}
  
.partner-photo-item:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.first-map {
    background-image: url("../img/pictures/footer-first-map.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 54px;
    padding-bottom: 54px;
    margin-bottom: 70px;
}

.first-map .studio-adress {
    width: 319px;
    height: 308px;
    background-image: url("../img/pictures/studio-adress-logo.png");
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.first-map .studio-adress p {
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.first-map .studio-adress h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.first-map .studio-adress .button {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    list-style: none;
    background-color: #fb565a;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #e74246;
    color: #fb565a;
}

.appointment h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.appointment {
    width: 960px;
    height: 590px;
    box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
    background-image: url("../img/pictures/write-us-table-1.png");
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.table-info input[type="text"],
.table-info input[type="email"] {
    width: 360px;
    height: 50px;
    border: 2px solid #d7dcde;
    background-color: #ffffff;
}

.table-info input:focus {
    border-color: #ffffff;
    background-color: #ffffff;
    border: solid 2px #000000;
}

.login-checkbox:hover,
.login-checkbox:focus {
    color: #ffffff;
}

.table-info h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-transform: inherit;
}

.social-buton-list {
    list-style: none;
}

.par-title-list {
    list-style: none;
}


/* разметка страницы каталога */

li.site-navigation-current a {
    border-bottom: 2px solid #fb565a;
}

.page-title-logo h2 {
    font-size: 55px;
    line-height: 55px;
    background-color: #eeeeee;
    font-weight: 500;
}

.small-header-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
}


.main-filter {
    font-size: 14px;
    list-style: none;
    line-height: 18px;
    text-transform: uppercase;
}

.main-filter-curret a {
    color: #000000;
}

.main-filter-catalog {
    color: #000000;
    opacity: 0.3;
}

.range-filter {
    width: 260px;
}

.range-controls {
    position: relative;

    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;

    background-color: #f1f1f1;

    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;

    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
  
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;

    width: 4px;
    height: 4px;
    padding: 0;

    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 50px;
}

.range-controls .toggle-max {
    left: 110px;
}

.price-controls {
    font-size: 0;
}
  
.price-controls label {
    display: inline-block;
    width: 50%;
    
    font-size: 16px;
    text-transform: uppercase;
}

.price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;
    
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;
    
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}
  
.max-price {
    text-align: right;
}

.main-filters h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

.main-filter a:hover,
.main-filter a:focus {
    color: #000000;
}

.filter fieldset {
    border: none;
}

.filter legend {
    text-align: left;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    width: 61px;
}

.filter ul {
    list-style: none;
    color: #283136;
    line-height: 20px;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #000000;
}

.filter-input:disabled + label {
    color: #283136;
    opacity: 0.3;
}

.catalog-list {
    list-style: none;
}

.catalog-item {
    width: 360px;
    height: 576px;
    border: 1px solid rgba(0, 1, 1, 0.1);
    margin-bottom: 100px;
}

li.catalog-item:hover .catalog-item-price {
    display: block;
    border: solid 2px rgba(0, 1, 1, 0.1);
}

.catalog-item a {
    color: #000000
}

.catalog-item-caption {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.catalog-item-price {
    display: none;
    text-align: center;
    background-color:rgba(223, 219, 219, 0.993);
    position: relative;
    bottom: 215px;
}

.catalog-item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #666666;
}

.catalog-item-price .button {
    line-height: 17.5px;
    color: #ffffff;
    background-color: #fb565a;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: 60px;
}

.pagination-item a{
    color: #000000;
    font-size: 16px;
    line-height: 18px;
}

.pagination-item {
    text-align: center;
    margin-right: 10px; 
    margin-top: 24px;
}

.pagination-item.pagination-item-number .button {
    width: 50px;
    background-color: #eeeeee;
}



.pagination-item.pagination-item-word .button {
    width: 260px;
    background-color: #eeeeee;
}

.pagination-item-current .button {
    background-color: #ffffff;
    border: 3px solid #dbdbdb;
    width: 50px;
}

.pagination-item .button:hover,
.pagination-item .button:focus {
    background-color: #dfdfdf;
    color: #000000;
}

.pagination-item .button:active {
    background-color: #d5d5d5;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current .button:hover,
.pagination-item-current .button:focus,
.pagination-item-current .button:active {
    color: #000000;
    background-color: #ffffff;
}

.inner-page .first-map {
    padding-left: 170px;
}


/* ----- Сеточные стили ----- */

.main-header {
    background-color: #eeeeee;
}

.main-header-logo {
    margin: 0px;
    width: 160px;
    height: 65px;
  }

 .main-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 49px;
    padding-bottom: 18px;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.site-navigation li {
    display: flex;
    margin-right: 47px;
}

.site-navigation li:last-child {
    margin-right: 0px;
}

.basket-navigation {
    margin: 0;
    padding: 0px;
    list-style: none;
    padding-left: 25px;
}

.slide-item {
    display: none;
}

.slide-item h2 {
    margin: 0px;
    padding: 0px;
    padding-top: 80px;
}

.slide-item-active {
    display: block;
}

.slides-switches {
    display: flex;
    padding: 0px;
    margin: 0px;
    margin-bottom: 80px;
}

.slide-radio {
    margin-right: 6px;
}

.visuali-hidden {
    margin: 0px;
    padding: 0px
}

.side-products-list {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.side-products-item-red,
.side-products-item-green,
.side-products-item-yellowe {
    width: 300px;
}

.anons-charter {
    width: 650px;
}

.index-columns {
    display: flex;
    justify-content: space-between;
}

.par-abouts {
    width: 616px;
}

.feature-list {
    width: 305px;
    display: flex;
    margin: 0px;
    padding: 0px;
}

.side-feature-item {
    width: 305px;
    margin-right: 26px;
}

.main-footer {
    margin-top: 35px;
}

.main-footer .container {
    display: flex;
    align-items: center;
}

.social-buton a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 79px;
    height: 79px;
    background-color: #e1e1e1;
    border-radius: 50%;
}

.social-buton-item {
    margin-right: 12px;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active path {
  opacity: 0.3;
}

.par-title-list {
    width: 545px;
    display: flex;
}



    /*inner-page */
.page-title-logo {
   
}

.page-title {
    margin: 0;
    padding: 0;
    padding-top: 82px;
    text-align: center;
    padding-bottom: 116px;
}

.navigation-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 45px;
}

.main-filter {
    display: flex;
    padding: 0;
    margin: 0;
}


.main-filter li {
    display: flex;
    margin-right: 26px;
}

.main-filter li:last-child {
    margin-right: 0px;
}

.main-filters {
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}

fieldset ul {
    margin: 0px;
    padding: 0px;
}

.filter fieldset {
    margin: 0px;
    border: none;
    padding: 0px;
    
}

.catalog {
    width: 760px;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;
}

.catalog-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-item {
    width: 360px;
}

.pagination-list {
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
    list-style: none;

    /* Временно для сетки */
    min-height: 50px;
}

.main-footer {
    margin-top: 35px;
}

.main-footer .container {
    display: flex;
    align-items: center;
}

.social-buton {
    display: flex;
}

.social-buton-list {
    display: flex;
    margin-right: 140px;
    padding-left: 0px;
}

.social-buton-item {
    margin-right: 12px;
}

.par-title-list {
    width: 545px;
    display: flex;
}

.filter fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    
    border: none;
  }
  
.filter fieldset:first-child {
    margin-bottom: 35px;
}
  .filter legend {
    margin-bottom: 20px;
  }

.filter-option svg {
    opacity: 0.4;
}
li.filter-option label {
    margin-left: 10px;
}

li.filter-option {
    margin-bottom: 15px;
}