body {
    margin: 0;
    padding: 0;
    min-width: 1200px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
}

img {
    max-width: 100%;
    height: auto;
}

.main-navigation {
    font-size: 16px;
    line-height: 30px;
    list-style: none;
}

.basket-navigation {
    display: flex;
    max-width: 140px;
}

.basket-pictures::before {
    content: "";
    position: absolute;
    top: 26px;
    left: 10px;
    width: 16px;
    height: 18px;
    background-image: url("../img/svg-nerds/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.basket-navigation .basket-pictures {
    position: relative;
    padding-left: 50px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket-navigation a:hover,
.basket-navigation a:focus {
    color: #fb565a;
}

.site-navigation a:active,
.basket-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation a,
.basket-navigation a {
    color: #000000;
    display: block;
    padding: 19px 10px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    vertical-align: middle;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
}

.slider {
    position: relative;
    margin-bottom: 75px;
    background-color: #eeeeee;
    z-index: 1;
}

.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;
    width: 160px;
    height: 18px;
    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}

.slider-controls label {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 9px;
    z-index: 1;
    width: 18px;
    height: 18px;
    background: #ffffff;
    border-radius: 50%;
}

.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-item {
    display: none;
    padding: 76px 0 85px 0;
}

.slider-item:nth-child(1) {
    background-image: url("../img/pictures/main-photo-1.png");
    background-repeat: no-repeat;
    background-position: 93% 24px;
}

.slider-item:nth-child(2) {
    background-image: url("../img/pictures/main-photo-2.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.slider-item:nth-child(3) {
    background-image: url("../img/pictures/main-photo-3.png");
    background-repeat: no-repeat;
    background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
    display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
    content: "";
    position: absolute;
    left: 59%;
    top: 49%;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -6px;
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.slider-item h3 {
    max-width: 600px;
    margin: 0;
    margin-bottom: 29px;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.slider-item p {
    max-width: 430px;
    margin: 0;
    margin-bottom: 40px;
}

.button {
    display: block;
    width: 240px;
    padding: 16px 0;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background-color: #fb565a;
    border-radius: 3px;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #e74246;
}

.button:active {
    background-color: #d7373b;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3);
}

.side-products-list {
    list-style: none;
    position: relative;
}

section.side-products {
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 79px;
    margin-bottom: 43px;
}

.side-products-list h3 {
    color: #000000;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-left: 1px;
    margin: 0px;
}

.side-products-list p {
    color: #283136;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 15px;
}

ul.side-products-list .button {
    width: 160px;
}

.side-products-item-red .button {
    background-color: #fb565a;
}

.side-products-item-red .button:hover,
.side-products-item-red .button:focus {
    background-color: #e74246;
}

.side-products-item-red .button:active {
    background-color: #d7373b;
}

.side-products-item-green .button {
    background-color: #00ca74;
}

.side-products-item-green .button:hover,
.side-products-item-green .button:focus {
    background-color: #00bc6c;
}

.side-products-item-green .button:active {
    background-color: #00aa62;
}

.side-products-item-yellowe .button {
    background-color: #efc84a;
}

.side-products-item-yellowe .button:hover,
.side-products-item-yellowe .button:focus {
    background-color: #eab534;
}

.side-products-item-yellowe .button:active {
    background-color: #e5a722;
}

.index-columns h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 8px;
}

.anons-charter {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    width: 650px;
    padding: 2px;
    padding-bottom: 18px;
    margin: 0px;
    margin-top: 29px;
}

.par-abouts p {
    padding-bottom: 22px;
}

.par-abouts-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.par-abouts-item {
    position: relative;
    padding-left: 37px;
    padding-bottom: 24px;
}

li.par-abouts-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    position: absolute;
    left: 0;
    top: 25%;
}

.feature-logo img {
    margin-top: -4px;
}

aside.feature h4 {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    padding: 0px;
    padding-left: 17px;
    margin: 0px;
    padding-top: 31px;
    padding-bottom: 52px;
}

.side-feature-item h3 {
    font-size: 45px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: -7px;
    margin-right: 23px;
}

.small-procent {
    position: relative;
    font-size: 26px;
    top: -16px;
}

li.side-feature-item p {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    padding: 0px;
    margin: 0px;
    padding-top: 21px;
}

.feature-list {
    list-style: none;
    margin-bottom: 105px;
}

.partner-photo {
    list-style: none;
    position: relative;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    padding-top: 46px;
    padding-bottom: 38px;
    margin-bottom: 80px;
}

.partner-photo-list {
    width: 1160px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    align-items: center;
}

li.partner-photo-item.image1 {
    padding-top: 12px;
    padding-left: 30px;
    padding-right: 96px;
}

li.partner-photo-item.image2 {
    padding-right: 103px;
}

li.partner-photo-item.image3 {
    padding-right: 123px;
}

.partner-photo-item.image4 {
    padding-top: 5px;
}

.partner-photo-item.image2:before {
    content: "";
    display: block;
    width: 2px;
    height: 52px;
    background-color: black;
    opacity: 0.1;
    position: absolute;
    left: 280px;
    margin-top: 18px;
}

.partner-photo-item.image3:before {
    content: "";
    display: block;
    width: 2px;
    height: 52px;
    background-color: black;
    opacity: 0.1;
    position: absolute;
    left: 580px; 
}

.partner-photo-item.image4:before {
    content: "";
    display: block;
    width: 2px;
    height: 52px;
    background-color: black;
    opacity: 0.1;
    position: absolute;
    left: 880px;
    margin-top: 14px;
}

.partner-photo-item:hover,
.partner-photo-item:focus {
    opacity: 1;
}

.partner-photo-item:active {
    opacity: 0.1;
}

li.partner-photo-item {
    opacity: 0.3;
}

.first-map {
    background-image: url("../img/pictures/contacts.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.first-map .studio-adress {
    position: absolute;
    width: 268px;
    background-color: white;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 53px;
    padding-top: 35px;
    padding-left: 51px;
    padding-bottom: 46px;
}

.first-map .studio-adress h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.first-map .studio-adress p {
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 19px;
    margin-top: 10px;
}

.studio-adress .button {
    width: 219px;
    margin-top: 36px;
}

.modal {
    position: fixed;
    background-image: url("../img/pictures/write-us-table-2.png");
    box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal-login {
    display: none;
    top: 45px;
    width: 764px;
    height: 459px;
    padding: 64px 97px;
    margin-left: 103px;
    z-index: 10;
}

@keyframes bounce {
0% {
    transform: translateY(-2000px);
}

70% {
    transform: translateY(30px);
}

90% {
    transform: translateY(-10px);
}

100% {
    transform: translateY(0);
  }
}

@keyframes shake {
0%,
100% {
    transform: translateX(0);
}

10%,
30%,
50%,
70%,
90% {
    transform: translateX(-10px);
}

20%,
40%,
60%,
80% {
    transform: translateX(10px);
  }
}

.modal-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-error {
    animation: shake 0.6s;
}

.modal-close {
    opacity: 0.3;
}

.modal-close:hover,
.modal-close:focus {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.1;
}

.modal-close svg {
    position: absolute;
    top: 75px;
    right: 89px;
    font-size: 0;
    border: 0;
    cursor: pointer;
    color: #d7373b;
}

.modal-login h2 {
    margin: 0;
    margin-bottom: 23px;
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.text-box {
    margin: 0;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px
}

.text-letter {
    display: flex;
}

button.button.button-plus {
    width: 261px;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    line-height: 14px;
}

input#name-field,
input#email {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.login-form input[type="text"],
.login-form input[type="email"] {
    width: 344px;
    height: 46px;
    border: 2px solid #d7dcde;
    background-color: #ffffff;
    margin-right: 41px;
    margin-top: 6px;
    margin-bottom: 16px;
    padding-left: 12px;
    opacity: 0.5;
}

.text-letter-box {
    width: 741px;
    height: 101px;
    border: 2px solid #d7dcde;
    background-color: #ffffff;
    margin-bottom: 45px;
    padding-left: 13px;
    font-weight: 400;
    line-height: 18px;
    font-size: 16px;
    padding-top: 7px;
    font-family: Roboto;
    opacity: 0.5;
}

.text-letter-box:focus,
.login-form input:focus {
    border-color: #000000;
}

.text-letter-box:hover,
.login-form input:hover {
    border-color: #b4b9bb;
}

.social-buton-list {
    list-style: none;
}

.par-title-list {
    list-style: none;
    padding-left: 37px;
}


/* разметка страницы каталога */

li.site-navigation-current a {
    border-bottom: 2px solid #fb565a;
}

.page-title-logo h2 {
    font-size: 55px;
    line-height: 58px;
    background-color: #eeeeee;
    font-weight: 500;
}

.inner-page h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

.main-filter a {
    font-size: 14px;
    list-style: none;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

nav.navigation-filter {
    display: flex;
    align-items: center;
}

.filter-small a {
    opacity: 0.3;
}

.filter-small a:focus,
.filter-small a:hover {
    opacity: 0.6;
}

.filter-small a:active {
    opacity: 1;
}

.filter-carret a:hover,
.filter-carret a:focus,
.filter-carret a:active {
    opacity: 1;
}

ul.filter-little {
    list-style: none;
    display: flex;
}

li.filter-little {
    padding-left: 6px;
}

.icon-up a {
    opacity: 0.3;
    padding-left: 12px
}

.icon-up a:focus,
.icon-up a:hover {
    opacity: 0.6;
}

.icon-up a:active {
    opacity: 1;
}

.icon-down a:hover,
.icon-down a:focus,
.icon-down a:active {
    opacity: 1;
}

.main-filters h3 {
    padding-bottom: 52px;
    margin: 0px;
    margin-top: 21px;
    font-size: 19px;
}

.range-filter {
    width: 260px;
}

.range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 15px;
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    font-size: 0;
    vertical-align: middle;
}

.price-controls label {
    display: inline-block;
    width: 50%;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.max-price {
    text-align: right;
}

.filter legend {
    text-align: left;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    width: 61px;
}

.filter ul {
    padding: 0;
    margin: 0;
    list-style: none;
    color: #283136;
    line-height: 21px;
}

button.filter-button.button {
    background-color: #eeeeee;
    color: #000000;
    width: 260px;
    margin-top: 31px;
}

button.filter-button.button:hover,
button.filter-button.button:focus {
    background-color:  #dfdfdf;
}

button.filter-button.button:active {
    background-color: #d5d5d5;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    color: rgba(0, 0, 0, 0.3);
}

.catalog-item {
    position: relative;
    width: 360px;
    height: 576px;
    border: 1px solid rgba(0, 1, 1, 0.1);
    margin-bottom: 71px;
}

li.catalog-item:hover .catalog-item-price {
    display: block;
}

.catalog-item-title {
    color: #000000;
    background-image: url("../img/pictures/browser.png");
}

.catalog-cap {
    opacity: 0.3;
    margin: 0;
    position: absolute;
    top: -39px;
}

li.catalog-item:hover .catalog-cap {
    opacity: 1;
}

p.catalog-item-image {
    margin: 0px;
}

.catalog-item-caption {
    font-size: 18px;
    padding-top: 25px;
    margin: 0px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.catalog-item-price {
    display: none;
    text-align: center;
    background-color:#eeeeee;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.catalog-item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #666666;
    padding-bottom: 14px;
}

.catalog-item-price .button {
    margin-left: 78px;
    width: 200px;
    margin-bottom: 40px;
}

.catalog-item-price .button:hover,
.catalog-item-price .button:focus {
    background-color: #e74246;
    color: #ffffff
}

.catalog-item-price .button:active {
    background-color: #d7373b;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3);
}

.pagination-item a{
    color: #000000;
    font-size: 16px;
    line-height: 18px;
}

.pagination-item {
    margin-right: 11px; 
    margin-top: -12px;
}

.pagination-item.pagination-item-number .button {
    width: 50px;
    background-color: #eeeeee;
}

.pagination-item.pagination-item-word .button {
    width: 260px;
    background-color: #eeeeee;
}

.pagination-item-current .button {
    background-color: #ffffff;
    border: 3px solid #dbdbdb;
    width: 45px;
    height: 13px;
    padding-top: 14px;
}

.pagination-item .button:hover,
.pagination-item .button:focus {
    background-color: #dfdfdf;
    color: #000000;
}

.pagination-item .button:active {
    background-color: #d5d5d5;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current .button:hover,
.pagination-item-current .button:focus,
.pagination-item-current .button:active {
    color: #000000;
    background-color: #ffffff;
}

/* ----- Сеточные стили ----- */

.main-header {
    background-color: #eeeeee;
}

.main-header-logo {
    margin: 0px;
    width: 160px;
    height: 65px;
}

.main-header-logo:hover,
.main-header-logo:focus {
    opacity: 0.8;
}

.main-header-logo:active {
    opacity: 0.3;
}

.main-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 53px;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
}

.site-navigation li {
    display: flex;
    margin-right: 46px;
}

.site-navigation li:last-child {
    margin-right: 0px;
}

.basket-navigation {
    margin: 0;
    padding: 0px;
    list-style: none;
    padding-left: 35px;
}

.slide-item {
    display: none;
}

.slide-item h2 {
    margin: 0px;
    padding: 0px;
    padding-top: 75px;
}

.slide-item-active {
    display: block;
}

.slides-switches {
    display: flex;
    padding: 0px;
    margin: 0px;
    margin-bottom: 80px;
}

.slide-radio {
    margin-right: 6px;
}

.visuali-hidden {
    margin: 0px;
    padding: 0px
}

.side-products-list {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    padding-right: 61px;
}

.side-products-item-red,
.side-products-item-green,
.side-products-item-yellowe {
    width: 300px;
}


.index-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 49px;
}

.feature-list {
    width: 305px;
    display: flex;
    margin: 0px;
    padding: 0px;
}

.main-footer {
    position: relative;
}

.main-footer-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

section.first-map iframe {
    display: block;
    width: 100%;
    border: 0;
}

.social-buton a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 79px;
    height: 79px;
    background-color: #e1e1e1;
    border-radius: 50%;
}

.social-buton-item {
    margin-right: 12px;
}

.social-button:hover,
.social-button:focus {
    background-color: #e74246;
}

.social-button:active path {
    opacity: 0.3;
}

ul.par-title-list h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    margin: 0px;
    padding-top: 30px;
}

ul.par-title-list p {
    margin: 0px;
    padding-top: 8px;
}

/*inner-page */
.page-title {
    margin: 0;
    padding: 0;
    padding-top: 76px;
    text-align: center;
    padding-bottom: 107px;
}

.small-header-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 75px;
}

.main-filter {
    display: flex;
    padding: 0;
    margin: 0;
}

.main-filter li {
    display: flex;
    margin-right: 27px;
}

.main-filter li:last-child {
    margin-right: 0px;
}

.main-filters {
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}

.filter fieldset {
    margin: 0px;
    border: none;
    padding: 0px;
    margin-bottom: 26px;
}

.catalog {
    width: 760px;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;
    padding-top: 41px;
}

.catalog-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pagination-list {
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 48px;
    list-style: none;
    /* Временно для сетки */
    min-height: 50px;
}

.social-buton {
    display: flex;
}

.social-buton-list {
    display: flex;
    margin-right: 90px;
    padding-left: 0px;
    padding-top: 24px;
}

.social-buton-item {
    margin-right: 12px;
}

/*checkbox*/

.filter legend {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

.filter fieldset:first-child {
    margin-bottom: 35px;
}

.filter-option {
    margin-bottom: 19px;
    padding-left: 37px;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -36px;
    top: -2px;
    width: 25px;
    height: 25px;
    background-image: url("../img/svg-nerds/radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}

.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -36px;
    width: 26px;
    height: 26px;
    background-image: url("../img/svg-nerds/radio-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -37px;
    width: 25px;
    height: 25px;
    background-image: url("../img/svg-nerds/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -37px;
    width: 27px;
    height: 24px;
    background-image: url("../img/svg-nerds/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}

.filter-option label:hover::before,
.filter-option label:hover::after {
    opacity: 1;
}

.filter-option label:disabled::before,
.filter-option label:disabled::after {
    opacity: 0.1;
}