body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 1000px;
    color: #000000;
    text-transform: none;
    background-color: #ffffff
}

a {
    text-decoration: none;
}

.site-navigation {
    background-color: #eeeeee;
    list-style: none;
}

.basket-navigation {
    list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket-navigation a:hover,
.basket-navigation a:focus {
    color: #fb565a;
    text-decoration: underline;
}

.site-navigation a,
.basket-navigation a {
    color: #000000;
}

.title-slider-list {
    background-color: #eeeeee;
}

.title-slide-item-active h2 {
    list-style: none;
    font-size: 55px;
    line-height: 55px;
    text-align: left;
    color: #000000;
}

.slide-item-middle h2 {
    list-style: none;
    font-size: 55px;
    line-height: 55px;
    text-align: left;
    color: #000000;
}

.slide-item h2 {
    list-style: none;
    font-size: 55px;
    line-height: 55px;
    text-align: left;
    color: #000000;
}

.title-slide-item-active .button {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    list-style: none;
    background-color: #fb565a;
}

.slide-item-middle .button {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    list-style: none;
    background-color: #fb565a;
}

.slide-item .button {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    list-style: none;
    background-color: #fb565a;
}

.title-slide-item-active p {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #283136;
}

.slide-item-middle p {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #283136;
}

.slide-item p {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #283136;
}

.title-slide-item-active {
    width: 698px;
    height: 413px;
    object-fit: contain;
    background-image: url("../img/pictures/main-photo-1.png");
    background-position: right;
    background-repeat: no-repeat;
}

.slide-item-middle {
    width: 663px;
    height: 430px;
    object-fit: contain;
    background-image: url("../img/pictures/main-photo-2.png");
    background-position: top right;
    background-repeat: no-repeat;
}

.slide-item {
    width: 759px;
    height: 411px;
    object-fit: contain;
    background-image: url("../img/pictures/main-photo-3.png");
    background-position: top right;
    background-repeat: no-repeat;
}

.slides-switches {
    list-style: none;
}

.side-products-list {
    list-style: none;
    text-align: left;
}

.side-products-item-red .button {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    list-style: none;
    background-color: #fb565a;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #e74246;
    color: #fb565a;
}

.side-products-item-green .button {
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    list-style: none;
    background-color: #00ca74;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #00bc6c;
}

.side-products-item-yellowe .button {
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    list-style: none;
    background-color: #f0fb56;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #eab534;
}

.side-products-list h3 {
    color: #000000;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}

.side-products-list p {
    color: #283136;
    font-size: 16px;
    line-height: 24px;
}

.index-columns {
    list-style: none;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    background-color: #ffffff;
}

.index-columns h2 {
    text-align: left;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.index-columns p {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    background-color: #ffffff;
    font-weight: 400;
}

.index-columns h3 {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.par-abouts-list {
    list-style: none;
}

.feature-list {
    list-style: none;
}

.partner-photo {
    border: 7px solid #cccccc;
    opacity: 0.2;
}

.first-map {
    width: 1440px;
    height: 416px;
    background-image: url("../img/pictures/footer-first-map.jpg");
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.first-map .studio-adress {
    width: 319px;
    height: 308px;
    background-image: url("../img/pictures/studio-adress-logo.png");
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.first-map .studio-adress p {
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.first-map .studio-adress h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.first-map .studio-adress .button {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    list-style: none;
    background-color: #fb565a;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #e74246;
    color: #fb565a;
}

.first-map .footer-point-onmap {
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.appointment h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.appointment {
    width: 960px;
    height: 590px;
    box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
    background-image: url("../img/pictures/write-us-table-1.png");
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.table-info input[type="text"],
.table-info input[type="email"] {
    width: 360px;
    height: 50px;
    border: 2px solid #d7dcde;
    background-color: #ffffff;
}

.table-info input:focus {
    border-color: #ffffff;
    background-color: #ffffff;
    border: solid 2px #000000;
}

.login-checkbox:hover,
.login-checkbox:focus {
    color: #ffffff;
}

.table-info h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-transform: inherit;
}

.social-buton-list {
    list-style: none;
}

.par-title-list {
    list-style: none;
}


/* разметка страницы каталога */


.main-header {
    background-color: #eeeeee;
    list-style: none;
}

.main-navigation {
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    background-color: #eeeeee;
    list-style: none;
}

.basket-navigation {
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    background-color: #eeeeee;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket-navigation a:hover,
.basket-navigation a:focus {
    color: #fb565a;
    text-decoration: underline;
}

.page-title-logo h2 {
    font-size: 55px;
    line-height: 55px;
    text-transform: none;
    background-color: #eeeeee;
    font-weight: 500;
}

.main-filters h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

.main-filter {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    list-style: none;
}

.main-filter-curret a {
    color: #000000;
}

.main-filter-catalog {
    color: #000000;
    opacity: 0.3;
}
.main-filter a:hover,
.main-filter a:focus {
    color: #000000;
}

.filter fieldset {
    border: none;
}

.filter legend {
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.05px;
}

.filter ul {
    list-style: none;
    color: #283136;
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #000000;
}

.filter-input:disabled + label {
    color: #283136;
    opacity: 0.3;
}

.catalog-list {
    list-style: none;
}

.catalog-item {
    border: solid 1px rgba(0, 1, 1, 0.1);
}

.catalog-item:hover {
    border: solid 2px rgba(0, 1, 1, 0.1);
}

.catalog-item a {
    color: #000000
}

.catalog-item h3 {
    font-size: 16px;
    line-height: 16x;
}

.catalog-item-price .button {
    line-height: 17.5px;
    color: #ffffff;
    background-color: #fb565a;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
}

.pagination-list {
    list-style: none;
    background-color: #ffffff;
}
  
.pagination-item a {
    color: #000000;
    background-color: #eeeeee;
    border: 3px solid #dbdbdb;
}

.pagination-item-current a {
    color: #000000;
    background-color: #ffffff;
}

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: #dfdfdf;
}

.pagination-item a:active {
    background-color: #d5d5d5;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    color: #000000;
    background-color: #ffffff;
}

/* ----- Сеточные стили ----- */

html,
body {
    width: 1440;
}

img {
    max-width: 100%;
} 

.container {
    width: 1160px;
    margin: auto;
}

.main-header {
    display: flex;
    align-items: center;
}

.main-navigation {
    display: flex;
}

.basket-navigation {
    margin-left: auto;
  }

.title-slide-item .title-slide-item-active h2 {
    width: 376px;
    height: 106px;
}

.title-slider-list p {
    width: 361px;
    height: 40px;
}

.slides-switches {
    display: flex;
}

.slide-radio {
    margin-right: 6px;
}

.site-navigation {
    display: flex;
}

.site-navigation li {
    margin-right: 47px;
}


.side-products-list {
    margin: 0px;
    padding: 0px;
    display: flex;
    margin-bottom: 80px;
}

.side-products-item-red,
.side-products-item-green,
.side-products-item-yellowe {
    width: 300px;
    margin-right: 100px;
}

.anons-charter {
    width: 650px;
}

.index-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.par-abouts {
    width: 616px;
}

.orders {
    width: 429px;
}

.feature-logo {
    width: 360px;
}

.feature-logo h3 {
    width: 328px;
}

.feature-list {
    width: 305px;
    display: flex;
}

.side-feature-item {
    width: 305px;
    margin-right: 26px;
}

.partner-photo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 31px;
}

.main-footer {
    margin-top: 35px;
}

.main-footer .container {
    display: flex;
    align-items: center;
}

.social-buton {
     display: flex;
}

.social-buton-list {
    display: flex;
    margin-right: 140px;
}

.social-buton-item {
    margin-right: 12px;
}

.par-title-list {
    width: 545px;
    display: flex;
}

.inner-page .main-header {
    margin-bottom: 50px;
}

.inner-page .main-navigation {
    align-items: flex-start;
    flex-direction: row;
}

.inner-page .basket-navigation {
    margin-left: auto;
}

.page-title {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
}



.main-filter {
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}

.filter {
    width: 260px;
  
    /* Временно для сетки */
    min-height: 673px;
}

.catalog {
    width: 760px;
  
    /* Временно для сетки */
    min-height: 1914px;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;
}

.catalog-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-item {
    width: 360px;
    margin-bottom: 36px;
  
    /* Временно для сетки */
    min-height: 614px;
}

.pagination-list {
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
    list-style: none;
  
    /* Временно для сетки */
    min-height: 50px;
}

.pagination-item {
    width: 50px;
    margin-right: 8px;
}

.inner-page .main-footer {
    margin-top: 45px;
}

  
  